@import "colors.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $branco;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100vh;
    width: 100%;

    background-color: $preto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.link{
    display: inline-block;
    text-decoration: none;
    color: $branco;
    background-color: $roxo;
    padding: 12px 124px;
    margin-top: 24px;
    border-radius: 8px;

    &:hover{
        background-color: $branco;
    }

}

.list{
    border: 1px solid red;
    margin-top: 16px;
    padding: 16px;

    li{
        background-color: blue;

        a{
            text-decoration: none;
            color: $branco;

            &:hover{
                background-color: red;
            }

            &::after{
                background-color: red;
            }

            &::before{
                background-color: red;
            }
        }
    }
}

p{
    color: $cinza;

    border: {
        style: solid;
        color: purple;
    }
}